<div class="row">
  <div class="col-sm-6">
    <p class="lead">At <strong>TED</strong>, we care about clean code, conventions, and shared solutions. We wrote down what we've learned, both for your benefit and ours.</p>

    <p>Check out our styleguides above, and be sure to ponder, comment, and PR us all towards a brighter future!</p>

    <p>Or watch this TED talk on the birth of the computer:</p>
    <div class="text-center">
      <iframe src="https://embed-ssl.ted.com/talks/george_dyson_at_the_birth_of_the_computer.html" width="640" height="360" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </div>
</div>
