<h1>Our philosophy</h1>
<p>We like passing models around.</p>
<p>Store state on the lowest common ancestor, until it doesn't make sense. Then put it in a service.</p>

<h1>Our apps</h1>
<p>We maintain apps for several years, and these practices have emerged from wanting a small team to be able to move in and out of each other's apps.</p>
