<div class="row">
  <div class="col-sm-8">
    <h1>Philosophy</h1>
    <p>We like passing models around.</p>
    <p>Store state on the lowest common ancestor, until it doesn't make sense. Then put it in a service.</p>

    <h1>Pods</h1>
    <p>Please use them, they are really good.</p>

    <h1>Ember Data</h1>
    <p>Use it, unless you have a really really good reason not to.</p>

    <h1>Components</h1>
    <p>Many small components are good. Until initial render bites you.</p>

    <h1>Forms</h1>
    <p>Hoo-boy.</p>

    <h1>Error handling</h1>
    <p>Does anybody even do this?</p>
  </div>
  <div class="col-sm-4">
    <div class="list-group">
      <a href="#" class="list-group-item active">Philosophy</a>
      <a href="#" class="list-group-item">Pods</a>
      <a href="#" class="list-group-item">Ember Data</a>
      <a href="#" class="list-group-item">Components</a>
      <a href="#" class="list-group-item">Forms</a>
      <a href="#" class="list-group-item">Error handling</a>
    </div>
  </div>
</div>