<div class="row">
  <div class="col-sm-3">
    <ul class='list-unstyled'>
      <li>{{link-to 'Overview' 'css.index' class='Navigation__item'}}</li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{outlet}}
  </div>
</div>
